.gradle
/build/

entrenamiento2/.gradle
entrenamiento2/bin
entrenamiento2/.settings
entrenamiento2/build
target
entrenamiento2/.classpath
entrenamiento2/.project
entrenamiento2/settings.gradle
entrenamiento2/.idea

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
